*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}
.row{
background: white;
border-radius: 30px; 
box-shadow: 12px 12px 12px #d4f1f5;
margin-top:100px; 


}
.login{
    margin-top:100px;
}
.login img{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
h5{
    /* font-family: 'Zen Loop', cursive; */
    font-size: 2rem;
}
.inp{
    height:50px;
    width:70%;
    border:1px solid rgb(228, 226, 226);
    outline:none;
    border-radius: 60px;
    box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
    -webkit-box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
    -moz-box-shadow: 1px -11px 3px -2px rgba(204,212,211,0.46);
}

.btn1{
    height:40px;
    width:50%;
    border:none;
    outline:none;
    border-radius: 60px;
    background: rgb(31, 184, 245);
    color:white;
}
.btn1:hover{
    background:rgb(2, 72, 85);
    transition: 0.5s;
}
.col-lg-10 i{
    position:absolute;
    
    
   

}
.fa{
    position:relative;
   
    display: inline;
}